{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <br><br>
    <h1>Bienvenue</h1>
<p>Crées un compte, connectes toi et viens tester ta rapidité.</p>
 <a href="{{ path('app_register') }}" class="btn btn-success btn-lg active text-light mt-3 mb-4" role="button" title="Lien 1">Créer un compte</a>
<br><br>
    <h2>Meilleures parties :</h2>
   <!-- Votre code Twig -->
<table>
    <thead>
        <tr>
            <th>Rang</th>
            <th>Score</th>
            <th>Pseudo</th>
        </tr>
    </thead>
    <tbody>
        {% set previousUserId = null %}
        {% for key, partie in bestParties %}
            {% if previousUserId != partie.user.id %}
                {% set previousUserId = partie.user.id %}
                <tr>
                    <td>{{ key + 1 }}</td>
                    <td>{{ partie.score }}</td>
                    <td>{{ partie.user.pseudo }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

{% if userScore %}
    <p>Votre score : {{ userScore }}</p>
    {% if userRank %}
        <p>Votre rang : {{ userRank }}</p>
    {% else %}
        <p>Votre rang : Non classé</p>
    {% endif %}
{% else %}
    <p></p>
{% endif %}

{% endblock %}
