{% extends 'base.html.twig' %}

{% block title %}Partie index{% endblock %}

{% block body %}
    <h1>Partie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Pseudo</th>
                <th>Score</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for partie in parties|reverse %}
                {% if partie.user == app.user %}
                    <tr>
                        <td>{{ partie.user.pseudo }}</td>
                        <td>{{ partie.score }}</td>
                        <td>{{ partie.createdAt.format('d/m/Y H:i:s') }}</td>
                        <td>
                            <a href="{{ path('app_admin_partie_delete', {'id': partie.id}) }}">Supprimer</a>
                           <a href="{{ path('app_admin_partie_delete', {'id': partie.id}) }}" onclick="event.preventDefault(); if(confirm('Êtes-vous sûr de vouloir supprimer cette partie ?')) document.getElementById('delete-form-{{ partie.id }}').submit();">Supprimer</a>
<form id="delete-form-{{ partie.id }}" action="{{ path('app_admin_partie_delete', {'id': partie.id}) }}" method="POST" style="display: none;">
    <input type="hidden" name="_method" value="DELETE">
    {{ csrf_token('delete' ~ partie.id) }}
</form>

                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
 
{% endblock %}
