<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home') }}">Accueil</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if app.user %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_partie') }}">Commencer une Partie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_admin_partie_index') }}">Voir mes parties</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_admin_user_index') }}">Voir mon compte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
