{% extends 'base.html.twig' %}

{% block title %}Edit Partie{% endblock %}

{% block body %}
    <h1>Edit Partie</h1>

    {{ include('admin_partie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_partie_index') }}">back to list</a>

    {{ include('admin_partie/_delete_form.html.twig') }}
{% endblock %}
