{% extends 'base.html.twig' %}

{% block title %}New Partie{% endblock %}

{% block body %}
    <h1>Create new Partie</h1>

    {{ include('admin_partie/_form.html.twig') }}

    <a href="{{ path('app_admin_partie_index') }}">back to list</a>
{% endblock %}
