{% extends 'base.html.twig' %}

{% block title %}Partie{% endblock %}

{% block body %}
    <h1>Partie</h1>
    
    <div id="green-square" style="width: 100px; height: 100px; background-color: green;"></div>

    <p id="click-count">Nombre de clics : 0</p>
    <p id="temps-restant">Temps restant : 10</p>

    <script>
        var greenSquare = document.getElementById('green-square');
        var clickCountElement = document.getElementById('click-count');
        var tempsRestantElement = document.getElementById('temps-restant');
        var clickCount = 0;
        var tempsRestant = 10;
        var interval;

        function decrementerTempsRestant() {
            tempsRestant--;
            tempsRestantElement.innerText = 'Temps restant : ' + tempsRestant;
            if (tempsRestant <= 0) {
                clearInterval(interval);
                finDuJeu();
            }
        }

        function finDuJeu() {
            // Envoyer une requête AJAX pour enregistrer le score en base de données
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '{{ path('app_end_game') }}');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    // Traiter la réponse si nécessaire
                }
            };
            xhr.send();

            // Rediriger vers la page de résultat ou effectuer d'autres actions nécessaires
            window.location.href = '{{ path('app_partie_resultat') }}';
        }

        greenSquare.addEventListener('click', function() {
            clickCount++;
            clickCountElement.innerText = 'Nombre de clics : ' + clickCount;

            // Envoyer une requête AJAX pour incrémenter le compteur côté serveur
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '{{ path('app_increment_click_count') }}');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    // Traiter la réponse JSON si nécessaire
                }
            };
            xhr.send();
        });

        interval = setInterval(decrementerTempsRestant, 1000);
    </script>
{% endblock %}
