{% extends 'base.html.twig' %}

{% block title %}Résultat de la partie{% endblock %}

{% block body %}
    <h1>Résultat de la partie</h1>
    <p>Votre score : {{ score }}</p>
    {% if rank %}
        <p>Votre rang : {{ rank }}</p>
    {% endif %}
    {# Affichez d'autres détails de la partie si nécessaire #}
    
    <a href="{{ path('app_partie') }}" class="btn btn-primary">Recommencer une nouvelle partie</a>
{% endblock %}
